on boot
    chown system system /sys/devices/virtual/input/lge_fingerprint/clk_enable
    chown system system /sys/devices/virtual/input/lge_fingerprint/wakeup_enable
    chown system system /sys/devices/virtual/input/lge_fingerprint/irq
    chmod 0200 /sys/devices/virtual/input/lge_fingerprint/clk_enable
    chmod 0200 /sys/devices/virtual/input/lge_fingerprint/wakeup_enable
    chmod 0644 /sys/devices/virtual/input/lge_fingerprint/irq

on property:ro.vendor.lge.minios.bootstart=1
    stop vendor.lge-biometrics-fingerprint-hal-2-1
