#
# initialize and configure zram/swap including some tweaks related.
#
# service zramswapon /system/bin/logwrapper /system/bin/sh /system/etc/init.lge.zramswap.sh start
service zramswapon /system/vendor/bin/init.lge.zramswap.sh start
	user root
	group system
	disabled
	oneshot

#user root
#group system
#disabled
#oneshot

#
# deinit the zram/swap
#
service zramswapoff /system/bin/logwrapper /system/bin/sh /system/etc/init.lge.zramswap.sh stop
	user root
	group system
	disabled
	oneshot

#user root
#group system
#disabled
#oneshot

#
# The below is not only the project "Svelte", but also LGE's feature-added svelte.
#
on property:ro.boot.ksm=1
	# Configure and enable KSM
	write /sys/kernel/mm/ksm/pages_to_scan 100
	write /sys/kernel/mm/ksm/sleep_millisecs 500
	write /sys/kernel/mm/ksm/run 1

#on property:sys.boot_completed=1
on boot
	# initialize zram/swap
	start zramswapon
