
on post-fs-data
    # LGE_CHANGE_S, [pkm]
    mkdir /data/system/pkm 0700 system system
    # LGE_CHANGE_E, [pkm]

# LGE_CHANGE_S, [pkm]
service pkmd /system/bin/pkmd
    class main
    user system
    group system
    disabled
    socket pkmd stream 0660 root system
    seclabel u:r:pkmd:s0

on property:init.svc.atd=running && property:ro.boot.verifiedbootstate=green && property:sys.listeners.registered=true
    start pkmd
    write /sys/class/lge_pkm/pkm_ctrl/pkm_command 11
