on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /persist-lg 0771 system system
    mkdir /sns 0775 system system
    mkdir /storage 0751 system sdcard_r

    export EXTERNAL_STORAGE /sdcard

    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

on post-fs
    chown system system /persist-lg
    chmod 0771 /persist-lg

    chown system system /sns
    chmod 0755 /sns
